.bleu {
    content:"";
    background-color: #002FA7;
height:307px
}

.ImageCentre {
    margin: auto;
    display: flex;
    
}

.TexteCentre{
    text-align: center;
} 

footer {
background-color: #002FA7;
color: white;
}

.Gallery {
    display: flex;
    justify-content: center;
}

header {
    background-color: #002FA7;
    top: 0;
    height: 70pX;
    position: fixed;
    width: 100%;
}

.Header {
    display: flex;
    justify-content: space-between;
}


button {
    position: relative;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 2;
    margin-left: 20px;
    padding-top: 20px;
}

nav {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #002FA7;
    z-index: 1;

}

.BtnEnvoyer{
    margin-left: 160px;
    border: solid #002FA7;
    background-color: #002FA7;
    color: white;
    padding-top: 2px;
    border-radius: 10%;
    margin-top: 30px;
    border-width: 1px;
}